#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_bytecoin
#build/bytecoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_bytecoin)

DEB_INSTALL_EXAMPLES_bytecoind += debian/examples/*
DEB_INSTALL_MANPAGES_bytecoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix bytecoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f bytecoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake bytecoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_bytecoin
	src/test_bytecoin

# Ensure wrapper is set executable
binary-post-install/bytecoind:
	chmod +x $(cdbs_curdestdir)usr/bin/bytecoind
binary-post-install/bytecoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/bytecoin-qt
